.image-overlay {
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  border-style: solid;
  border-width: medium;
  border-color: #aaaaaa;
  opacity: 1;
}

.image-menu {
    width: 64px;
    height: 64px;
    background-color: #ffffff;
    border-style: solid;
    border-width: thin;
    border-color: #aaaaaa;
    opacity: 1;
}

.btn-round {
	border-radius: 50px;
}

.btn-lifecycle {
	min-width: 8em;
    max-width: 8em;
}

.card-lifecycle {
	max-width: 90%; 
	height: auto;
}