MERITOCRACY_VERSION=dev
POSTGRES_PASSWORD=postgres
POSTGREST_CONNECTION_USER=meritocracy
POSTGREST_CONNECTION_PASSWORD=meritocracy
POSTGREST_CONNECTION_DB=meritocracy
POSTGREST_CONNECTION_SCHEMA=api
POSTGREST_ANON_ROLE=web_anon
PGRST_JWT_SECRET=gZJp4Dt5Zoa7kcRljrFf4KqmsSDKTlSm
TAXONOMY=https://raw.githubusercontent.com/Mathmagicians/kumori/master/meritocracy/frontend/src/api/mock/data/taxonomy.json
COMPONENTS=https://raw.githubusercontent.com/Mathmagicians/kumori/master/meritocracy/frontend/src/api/mock/data/techComponents.json
